* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main {
    margin-top: 1vh;
    background-image: url(../imgsData/main-background.svg);
    width: 50vh;
    height: 78vh;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
section {
    border: solid 1px yellow;
    width: 100%;
    height: 23%;
}
    .sectionTop {
        height: 20%;
    }
    .sectionMain{
        height: 26%;
    }
.sectionTop {
    display: flex;
}
    .topLeft {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .coatOfArms {
        width: 7vh;
        height: 8vh;
    }
    .topLeft button {
        background-color: #0104AB;
        width: 20vh;
        height: 5vh;
        border-radius: 3vh;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: solid 1px #0104AB;
    }
        .plusIcon {
            width: 2.5vh;
            height: 2.5vh;
        }
        #buttonP {
            width: 15vh;
            height: 3vh;
            font-size: 2vh;
            color: #ffffff;
            display: flex;
            align-items: center;
        }
    .topRight {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:end;
        padding-top: 2vh;
        padding-right: 1vh;
    }
        .topRight p {
            font-size: 2vh;
            color: #ffffff;
        }
        .icons {
            width: 18vh;
            height: 5vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .icons img{
                height: 4.5vh;
                width: 4.5vh;
            }
.sectionMain { 
    padding-left: 1vh;
    padding-right: 1vh;
}
    .sectionMain img{
        width: 100%;
        height: 100%;
    }
footer {
    width: 25vh;
    height: 10vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img {
    width: 20vh;
    height: 5vh;
}